<form>
  <!-- <div class="form-group">
    <input
      hinvHover color="green"
      type="email"
      class="form-control"
      name="name"
      [(ngModel)]="email"
      email
      placeholder="Provide your username"
    />
  </div>
  <div class="form-group">
    <input
      hinvHover color="steelblue"
      type="password"
      class="form-control"
      name="name"
      [(ngModel)]="password"
      email
      placeholder="Enter your password"
    /> -->
    <div class="form-group">
        <input
          hinvHover="green"
          type="email"
          class="form-control"
          name="name"
          [(ngModel)]="email"
          email
          placeholder="Provide your username"
        />
      </div>
      <div class="form-group">
        <input
          hinvHover="steelblue"
          type="password"
          class="form-control"
          name="name"
          [(ngModel)]="password"
          email
          placeholder="Enter your password"
        />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" (click)="login()">Login</button>
  </div>
</form>
