<h2>{{title}}</h2>
<table class="table">
  <tr>
    <th>Index</th>
    <th>Even/Odd</th>
    <th>Room Number</th>
    <th>Room Type</th>
    <th>Room Price</th>
    <th>Room Amenities</th>
    <th>Checkin Time</th>
    <th>Rating</th>
    <th>Select Room</th>
  </tr>
  <!--slice -- last value is skipped,
    generally not used, use pagination-->
  <tr
    [ngClass]="e ? 'even' : 'odd'"
    *ngFor="
      let room of rooms;
      let i = index;
      let e = even;
      let o = odd
    "
  >
    <td>{{ i | percent }}</td>
    <td>{{ e ? "Even" : "Odd" }}</td>
    <td>{{ room.roomNumber }}</td>
    <td>{{ room.roomType }}</td>
    <td>{{ room.price | currency : "INR" }}</td>
    <td>{{ room.amenities | titlecase }}</td>
    <td>{{ room.checkinTime | date : "short" }}</td>
    <td>{{ room.rating | number : "1.1-2" : "en-us" }}</td>
    <td>
      <!-- <button class="btn btn-primary"
      (click)="selectRoom(room)">Select</button> -->
      <!-- / means routing should start from here -->
      <button class="btn btn-primary" [routerLink]="['/booking']">Book Room</button>
    </td>
  </tr>
</table>
