<h1>Welcome to {{ hotelName }}</h1>
<div [hidden]="hideRooms">
  Number of rooms:
  <div [innerText]="numberOfRooms"></div>
</div>
<!-- Property Binding -->
<!-- null collision operator ?? -->
<!-- optional chaining ?. allows to access
properties of an object without causing
an error if the property is null or undefined. -->
{{ rooms?.availableRooms ?? "No rooms" }}

<div *ngIf="rooms.availableRooms > 0">
  Rooms List
  <table>
    <tr>
        <th>Index</th>
        <th>Even/Odd</th>
      <th>Room Number</th>
      <th>Room Type</th>
      <th>Room Price</th>
      <th>Room Amenities</th>
      <th>Checkin Time</th>
    </tr>
    <tr *ngFor="let room of roomList; let i=index; let e=even; let o=odd">
      <td>{{i}}</td>
        <td>{{e?"Even":"Odd"}}</td>
        <td>{{ room.roomNumber }}</td>
      <td>{{ room.roomType }}</td>
      <td>{{ room.price }}</td>
      <td>{{ room.amenities }}</td>
      <td>{{ room.checkinTime }}</td>
    </tr>
  </table>
</div>

<!-- document.getElementById('numberOfRooms').innerText = numberOfRooms; -->

<!-- <button click=""fnName() -->
<button (click)="toggle()">Toggle</button>
